main {
    width: 80%;
    margin: auto;
}
img {
    margin: 10px 10px 0 0;
}

.section-container {
    display: flex;
}

.img-wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin: 0 0 50px 10px;
}

.text-wrapper {
    margin-left: 20px;
    flex: 1;
    overflow: hidden;
}

#maps-iframe {
    height: 700px;
    width: 100%;
}
#G-maps-container {
    display: block;
}

.list-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media screen and (max-width: 1200px){
    img {
        max-width: 250px;
    }
}
