main {
    width: 80%;
    margin: auto;
    display: grid;
    direction: ltr;
}
img {
    margin: 10px 10px 0 0;
    border: 1px solid #c4c4c4;
}

figure {
    display: table;
    float: right;
    clear: right;
    background-color: #eeeeee;
    border: 1px solid #b9b9b9;
    max-width: 300px;
    padding: 10px;
    margin: 0 0 20px 10px;
}

.text-wrapper {
    margin-left: 20px;
    overflow: hidden;
}

#maps-iframe {
    height: 700px;
    width: 100%;
}
#G-maps-container {
    display: block;
}

.list-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
